.btn-style{
    border-color:#ff004f;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    transition: background-color 0.7s;
    font-weight: 500;
    font-size: 18px;
}
button:hover{
    background-color:#ff004f;
}