*{
    margin: 0px;
    padding: 0px;
}
.banner-section{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height:660px;
    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.banner-content{
    color: white;
    width:50%;
    @media screen and (min-width:1400px) {
        width:50%;
    }
    @media screen and (max-width:767px) {
        text-align: center;
        width:100%;
    }
    h3{
        font-size: 40px;
        font-weight: 500; 
        margin-bottom: 20px;
        @media screen and (max-width:500px) {
            font-size: 25px;
        }  
    }
    h1{
        font-size: 60px;
        font-weight: 600;
        @media screen and (max-width:500px) {
            font-size: 30px;
        }  
        span{
            color: #ff004f;
        }
    }
    p{
        font-size: 19px;
        opacity: 0.6;
    }
}
.banner-img{
    display: flex;
    justify-content: center;
    width: 50%;
    img{
        width:60%;
        @media screen and (max-width:1200px) {
            width:80%;
        }
        @media screen and (max-width:500px) {
            width:100%;
        }
    }
}