
*{
    margin: 0px;
    padding: 0px;
}
.banner-section{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    height:100vh;
    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.banner-content{
    color: white;
    @media screen and (min-width:1400px) {
        
        width:50%;
    }
    h3{
        font-size: 40px;
        font-weight: 500; 
        margin-bottom: 20px;
        @media screen and (max-width:500px) {
            font-size: 25px;
        }  
    }
    h1{
        font-size: 60px;
        font-weight: 600;
        @media screen and (max-width:500px) {
            font-size: 30px;
        }  
        span{
            color: #ff004f;
        }
    }
}
.banner-img{
    img{
        @media screen and (max-width:920px) {
            width:100%;
            height:50%;
        }
    }
}