*{
    margin: 0px;
    padding: 0px;
}
.banner-section{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height:660px;
    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height:590px;
    }
}

.banner-content{
    color: white;
    width:50%;
    @media screen and (min-width:1400px) {
        width:50%;
    }
    @media screen and (max-width:767px) {
        text-align: center;
        width:100%;
    }
    h3{
        font-size: 40px;
        font-weight: 500; 
        margin-bottom: 20px;
        @media screen and (min-width:767px){
            animation:lefttoright 1s ease forwards;
        }
        @media screen and (max-width:500px) {
            font-size: 25px;
        }  
        .front-end{
            color: #ff004f;
            text-shadow:
            0 0 42px #ff004f,
            0 0 82px #ff004f,
            0 0 92px #ff004f,
            0 0 102px #ff004f,
            0 0 151px #ff004f;
            font-weight: 550;
            animation: neontext 1.5s ease-in-out infinite alternate;
        }
        @keyframes neontext {
            from {
                opactiy:1.0;
                text-shadow:0 0 42px #ff004f,
                0 0 82px #ff004f,
                0 0 92px #ff004f,
                0 0 102px #ff004f,
                0 0 151px #ff004f;
            }
            to{
                opacity:0.6;
                text-shadow: none;
            }
        }
    }
    h1{
        font-size: 60px;
        font-weight: 600;
        @media screen and (min-width:767px){
            animation:lefttoright 1s ease forwards;
        }
        @media screen and (max-width:500px) {
            font-size: 30px;
        }  
        span{
            color: #ff004f;
        }
    }
    @keyframes lefttoright {
        0%{
            opacity: 0;
            transform: translateX(-300px);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
    .banner-info{
        font-size: 19px;
        opacity: 0.6;
        @media screen and (min-width:767px){
            animation: lefttoright 1s ease forwards;

        }
    }
    .btn-container{
        display: flex;
        @media screen and (max-width:767px){
            align-items: center;
            justify-content: center;
        }
        button{
            margin-right: 20px;
        }
        .about-me-btn{
            @media screen and (min-width:767px){
                animation : btn-left 1s ease forwards;
            }
        }
        .download-cv-btn{
            @media screen and (min-width:767px){
                animation: btn-right 1s ease forwards;
            }
        }
        @keyframes btn-left {
            0%{
                opacity: 0;
                transform: translateX(-300px);
            }
            100%{
                opacity: 1;
                transform: translateX(0);
            }
        }
        @keyframes btn-right {
            0%{
                opacity: 0;
                transform: translateX(300px);
            }
            100%{
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}
.banner-img{
    display: flex;
    justify-content: center;
    width: 50%;
    @media screen and (min-width:767px){
        animation: righttoleft 1s ease forwards;
    }
    img{
        width:60%;
        @media screen and (max-width:1200px) {
            width:80%;
        }
        @media screen and (max-width:500px) {
            width:100%;
        }
    }
    @keyframes righttoleft {
        0%{
            opacity: 0;
            transform: translateX(300px);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
}